<html style="background-color: black;">
<br/><br/>
<div class="container-fluid">
    <div class="col-lg-12">
        <div class="row">
            <div class="card">
                <div class="d-flex justify-content-center mt-5">
                    <h3 class="text-secondary  mt-5">Our Events</h3>
                </div>
            </div>
        </div>
    </div>
</div>    

<div class="container mt-5">
    <div class="row mt-5">
        
            <div class="col-md-4">
                <img src="assets/images/portfolios-img/pimg1.jpg" alt="img">
                <h2>World Animal Protection</h2>
                <p>Exhibition</p>
                
            </div>

            <div class="col-md-4">
                <img src="assets/images/portfolios-img/pimg2.jpg" alt="img">
                <h2>Max Mall Activation</h2>
                <p>Exhibition</p>
                
            </div>

            <div class="col-md-4">
                <img src="assets/images/portfolios-img/pimg3.jpg" alt="img">
                <h2>Maruti Baleno</h2>
                <p>Exhibition</p>
               
            </div>
        
    </div>
</div>

<div class="container mt-5">
    <div class="row mt-5">
        
            <div class="col-md-4">
                <img src="assets/images/portfolios-img/pimg4.jpg" alt="img">
                <h2>Reifenhauser</h2>
                <p>Events</p>
               
            </div>

            <div class="col-md-4">
                <img src="assets/images/portfolios-img/pimg5.jpg" alt="img">
                <h2>State Bank of India</h2>
                <p>Events</p>
           
            </div>

            <div class="col-md-4">
                <img src="assets/images/portfolios-img/pimg6.jpg" alt="img">
                <h2>Oreo</h2>
                <p>Events</p>
            
            </div>
        
    </div>
</div>

<div class="container mt-5">
    <div class="row mt-5">
        
            <div class="col-md-4">
                <img src="assets/images/portfolios-img/ourwork7.jpg" alt="img">
                <h2>Powerplay Premier Cup</h2>
                <p>Sports</p>
         
            </div>

            <div class="col-md-4">
                <img src="assets/images/portfolios-img/ourwork8.jpg" alt="img">
                <h2>Bird smash</h2>
                <p>Sports</p>
           
            </div>

            <div class="col-md-4">
                <img src="assets/images/portfolios-img/ourwork9.jpg" alt="img">
                <h2>EliteMove Tournaments</h2>
                <p>Sports</p>
     
            </div>
        
    </div>
</div>

<header class="header-container">  
    <div class="company-details"> 
        <div class="logo-section">
            <br/><br/><br/>
            <img src="assets/images/logo3.png" alt="Company Logo">
        </div>
        <div class="company-info">
            <p class="small-text">Prestige Planner: Elevate any event effortlessly. From corporate functions to sports galas, we add a touch of magic to every moment. Your occasion, perfected with prestige.</p>
            <div class="contact-info">
                <p><strong>Contact Info</strong></p>
                <p>Address: "Safalya", Jawahar Nagar, opp Shriyesh ho-society, near Nishant Bank, Akola 444001.</p>
                <p>Email: anshul.v.kherde&#64;gmail.com</p>
            </div>
        </div>
    </div>
  
    <div class="navbar-text">
        <br/><br/>
        <h2>Company</h2>
        <br/><br/><br/>
        
        <p><a href="#" style="color: white;">Home</a></p>
        <br/>
        <p><a href="#" style="color: white;">About Us</a></p>
        <br/>
        <p><a href="#" style="color: white;">Events</a></p>
        <br/>
        <p><a href="#" style="color: white;">Portfolios</a></p>
        <br/>
        <p><a href="#" style="color: white;">Contact Us</a></p>
  
    </div>
     
    <br/><br/>
    <div class="location-section">
        
        <h2>Location</h2>
        <br/><br/>
     <a href="https://maps.app.goo.gl/hmgiHoXSy4oz2Ha98"><img src="assets/images/home-img/map.png" alt="Location Photo"></a>
    </div>
  </header>
  
  <!-- Rest of your webpage content goes here -->
  
  <!-- Copyright information -->
  <footer class="your-new-footer-class">
    &copy; 2023 Prestige Planner. All rights reserved.
  </footer>
  </html>