    <html style="background-color: black;">
<br/><br/><br/><br/><br/>
<section class="about">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <img src="assets/images/home-img/PrestigeEvent_homepg.png">
            </div>

            <br/><br/><br/>

            <div class="col-md-6">
                <h4>WHO WE ARE</h4>
                <h3>We love to design and <br>produced awesome event !</h3>
                <h5>Successfully Completed 1,000+ Project!</h5>
                <p> Prestige Events started with a purpose to provide ‘ONE STOP SOLUTIONS’ for all your Marketing-
                        related worries. customer or staff, Prestige Events assures to handle every part of it with
                        finesse. We step in right at the stage of Idea Generation to its flawless execution.</p>

                <button type="button">Read more</button>
            </div>
        </div>
    </div>
</section>
<br/><br/><br/>

<div class="center-container">
    <div class="center-content">
        
      <h1>SUCCESSFULLY COMPLETED 1000+ PROJECTS</h1>
    </div>
  </div>
  <br/><br/>
  
  <section>
    <div class="container-center">
        <div class="row">
            <div class="col-md-3 number-item">
                <div class="number" id="corporateClients">{{corporateCount}}+</div>
                <div class="description">CORPORATE CLIENTS</div>
            </div>

            <div class="col-md-3 number-item">
                <div class="number" id="events">{{events}}+</div>
                <div class="description">EVENTS</div>
            </div>

            <div class="col-md-3 number-item">
                <div class="number" id="exhibitions">{{corporateCount}}+</div> <!-- Corrected variable name -->
                <div class="description">EXHIBITIONS</div>
            </div>

            <div class="col-md-3 number-item">
                <div class="number" id="sports">{{sports}}+</div>
                <div class="description">Sports</div>
            </div>
        </div>
    </div>
</section>
<br/><br/><br/>

<br/><br/>



<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="circle-img">
                    <img src="assets/images/about-us-img/p1.png" alt="Image 1">
                </div>
                <h5 class="text-center">Ganesh Vairagar</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem est voluptates sed quae aut aliquid.</p>
            </div>

            <div class="col-md-6">
                <div class="circle-img">
                    <img src="assets/images/about-us-img/p2.png" alt="Image 1">
                </div>
                <h5 class="text-center">Omkar Kadam</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem est voluptates sed quae aut aliquid.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="circle-img">
                    <img src="assets/images/about-us-img/p3.png" alt="Image 1">
                </div>
                <h5 class="text-center">Aryan Avasthi</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem est voluptates sed quae aut aliquid.</p>
            </div>

            <div class="col-md-4">
                <div class="circle-img">
                    <img src="assets/images/about-us-img/ph4.png" alt="Image 1">
                </div>
                <h5 class="text-center">Anshul Kherde</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem est voluptates sed quae aut aliquid.</p>
            </div>

            <div class="col-md-4">
                <div class="circle-img">
                    <img src="assets/images/about-us-img/ph5.png" alt="Image 1">
                </div>
                <h5 class="text-center">Nikhil Jagtap</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem est voluptates sed quae aut aliquid.</p>
            </div>
        </div>
    </div>
</section>






<header class="header-container">  
    <div class="company-details"> 
        <div class="logo-section">
            <br/><br/><br/>
            <img src="assets/images/logo3.png" alt="Company Logo">
        </div>
        <div class="company-info">
            <p class="small-text">Prestige Planner: Elevate any event effortlessly. From corporate functions to sports galas, we add a touch of magic to every moment. Your occasion, perfected with prestige.</p>
            <div class="contact-info">
                <p><strong>Contact Info</strong></p>
                <p>Address: "Safalya", Jawahar Nagar, opp Shriyesh ho-society, near Nishant Bank, Akola 444001.</p>
                <p>Email: anshul.v.kherde&#64;gmail.com</p>
            </div>
        </div>
    </div>
  
    <div class="navbar-text">
        <br/><br/>
        <h2>Company</h2>
        <br/><br/><br/>
        
        <p><a href="#" style="color: white;">Home</a></p>
        <br/>
        <p><a href="#" style="color: white;">About Us</a></p>
        <br/>
        <p><a href="#" style="color: white;">Events</a></p>
        <br/>
        <p><a href="#" style="color: white;">Portfolios</a></p>
        <br/>
        <p><a href="#" style="color: white;">Contact Us</a></p>
  
    </div>
     
    
    <div class="location-section">
        <br/>
        <h2>Location</h2>
        <br/><br/>
     <a href="https://maps.app.goo.gl/hmgiHoXSy4oz2Ha98"><img src="assets/images/home-img/map.png" alt="Location Photo"></a>
    </div>
  </header>
  
  <!-- Rest of your webpage content goes here -->
  
  <!-- Copyright information -->
  <footer class="your-new-footer-class">
    &copy; 2023 Prestige Planner. All rights reserved.
  </footer>


</html>