#video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 50%; 
    min-height: 50%;
    width: auto;
    height: auto;
    z-index: -1;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.card {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.form-check {
    margin-top: 10px;
}

.form-check p {
    margin-bottom: 0;
}