  #video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 50%; 
    min-height: 50%;
    width: auto;
    height: auto;
    z-index: -1;
}
/*
.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }

    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
    }
*/
    .container {
      max-width: 600px;
      margin: auto;
      padding: 20px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      
    }

    .card {
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    h1 {
      text-align: center;
      color: #333;
    }

    form {
      margin-top: 20px;
    }

    label {
      margin-top: 10px;
      display: block;
      font-weight: bold;
    }

     input {
      
      padding: 10px;
      margin-top: 5px;
      margin-bottom: 10px;
      box-sizing: border-box;
    } 
    .form-check {
      margin-top: 15px;
    } 

    button {
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    button:hover {
      background-color: #0056b3;
    }

    .mt-4 {
      margin-top: 16px;
    }

    .d-flex {
      display: flex;
    }

    .me-5 {
      margin-right: 5px;
    } 

    .form-check-label p {
      margin-bottom: 0;
    }   
