<html style="background-color: #181616;">
<!-- app.component.html -->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="video-container">
                <video controls autoplay [muted]="'muted'" loop style="pointer-events: none;">
                    <source src="assets/video/mainvid.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div>


<br/> <br/> <br/> <br/> <br/>





<!-- app.component.html -->
<div class="container">
    <div class="row">
      <div class="col-md-4">
        <!-- Photo 1 -->
        <div class="photo">
          <img src="assets/images/home-img/pg1Event.jpg" alt="Photo 1">
          <div class="text-overlay">
            <div class="title">Title 1</div>
            <div class="description">Description for photo 1. This is a brief overview of the content.</div>
            <a href="#" class="read-more">Read More</a>
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <!-- Photo 2 -->
        <div class="photo">
          <img src="assets/images/home-img/pg1Exhibition.jpg" alt="Photo 2">
          <div class="text-overlay">
            <div class="title">Title 2</div>
            <div class="description">Description for photo 2. This is a brief overview of the content.</div>
            <a href="#" class="read-more">Read More</a>
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <!-- Photo 3 -->
        <div class="photo">
          <img src="assets/images/home-img/pg1Sports.jpeg" alt="Photo 3">
          <div class="text-overlay">
            <div class="title">Title 3</div>
            <div class="description">Description for photo 3. This is a brief overview of the content.</div>
            <a href="#" class="read-more">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  


  <br/> <br/> <br/><br/> 

  <div class="containers">
    <h2 style="color: #B6816B;">OUR PARTNERS</h2>
    <br/> <br/> 
  
    <div class="images-row">
      <div class="images">
        <img src="assets/images/home-img/comppat1.png" alt="Image 1">
      </div>
      <div class="images">
        <img src="assets/images/home-img/comppat2.png" alt="Image 2">
      </div>
      <div class="images">
        <img src="assets/images/home-img/comppat3.png" alt="Image 3">
      </div>
      <div class="images">
        <img src="assets/images/home-img/comppat4.png" alt="Image 4">
      </div>
      <div class="images">
        <img src="assets/images/home-img/comppat5.png" alt="Image 5">
      </div>
    </div>
  </div>



 <br/> <br/> <br/> <br/> <br/> <br/>

<section class="about">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <img src="assets/images/home-img/PrestigeEvent_homepg.png">
            </div>

            <div class="col-md-6">
                <h4>WHO WE ARE</h4>
                <h3>We love to design and <br>produced awesome event !</h3>
                <h5>Successfully Completed 1,000+ Project!</h5>
                <p> Prestige Events started with a purpose to provide ‘ONE STOP SOLUTIONS’ for all your Marketing-
                        related worries. customer or staff, Prestige Events assures to handle every part of it with
                        finesse. We step in right at the stage of Idea Generation to its flawless execution.</p>

                <button type="button">Read more</button>
            </div>
        </div>
    </div>
</section>  <br/> <br/> <br/>













<div class="center-container">
    <div class="center-content">
      <h1>SUCCESSFULLY COMPLETED 1000+ PROJECTS</h1>
    </div>
  </div>
  





  <section>
    <div class="container-center">
        <div class="row">
            <div class="col-md-3 number-item">
                <div class="number" id="corporateClients">{{corporateCount}}+</div>
                <div class="description">CORPORATE CLIENTS</div>
            </div>

            <div class="col-md-3 number-item">
                <div class="number" id="events">{{events}}+</div>
                <div class="description">EVENTS</div>
            </div>

            <div class="col-md-3 number-item">
                <div class="number" id="exhibitions">{{corporateCount}}+</div> <!-- Corrected variable name -->
                <div class="description">EXHIBITIONS</div>
            </div>

            <div class="col-md-3 number-item">
                <div class="number" id="sports">{{sports}}+</div>
                <div class="description">Sports</div>
            </div>
        </div>
    </div>
</section>
  <br/> <br/> <br/> <br/> <br/> <br/>








  <section class="whyus">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3 style="font-size:30px; font-family: Helvetica; color: #B6816B">Why You Should Choose Us?</h3>
                <p>At Craftworld Events, the ideal customer experience in occasion is a comprehensive, yet flexible framework for
                    achieving customer loyalty. Therefore by learning and understanding your needs, we can tailor the pieces of the
                    framework that are necessary to help you create the bonds of Customer Loyalty with your customers.Here, you’ll
                    find a platform that will be unique to you and your brand – a platform that will define your success. Current
                    success stories at “Craftworld Events” include Indian Kids Fashion Week and Chef’s Connect.</p>
                <button>Read More</button>
            </div>

            <div class="col-md-6">
                <!-- Replace the src attribute value with the URL of your video -->
                
                <iframe aria-controls="muted"  src="assets/video/mainvideo2.mp4" frameborder="0" allowfullscreen></iframe>
          
            </div>
        </div>
    </div>
</section>






<br/><br/><br/>
<hr class="centered-line">
<br/><br/><br/><br/>










<header>
    <h1 style="font-family: Arial, sans-serif;color: #B6816B;text-align: center">Our Work</h1>
</header>


<section class="secc">
    <div class="photos-containerr">
        <!-- Row 1 -->
        <div class="photos">
            <img src="assets/images/home-img/ourwork1.jpg" alt="Work Photo 1">
        </div>
        <div class="photos">
            <img src="assets/images/home-img/ourwork2.jpg" alt="Work Photo 2">
        </div>
        <div class="photos">
            <img src="assets/images/home-img/ourwork3.jpg" alt="Work Photo 3">
        </div>

        <!-- Row 2 -->
        <div class="photos">
            <img src="assets/images/home-img/ourwork4.jpg" alt="Work Photo 4">
        </div>
        <div class="photos">
            <img src="assets/images/home-img/ourwork5.jpg" alt="Work Photo 5">
        </div>
        <div class="photos">
            <img src="assets/images/home-img/ourwork6.jpg" alt="Work Photo 6">
        </div>

        <!-- Row 3 -->
        <div class="photos">
            <img src="assets/images/home-img/ourwork7.jpg" alt="Work Photo 7">
        </div>
        <div class="photos">
            <img src="assets/images/home-img/ourwork8.jpg" alt="Work Photo 8">
        </div>
        <div class="photos">
            <img src="assets/images/home-img/ourwork9.jpg" alt="Work Photo 9">
        </div>
    </div>
</section>


<header class="header-container">  
    <div class="company-details"> 
        <div class="logo-section">
            <br/><br/><br/>
            <img src="assets/images/logo3.png" alt="Company Logo">
        </div>
        <div class="company-info">
            <p class="small-text">Prestige Planner: Elevate any event effortlessly. From corporate functions to sports galas, we add a touch of magic to every moment. Your occasion, perfected with prestige.</p>
            <div class="contact-info">
                <p><strong>Contact Info</strong></p>
                <p>Address: "Safalya", Jawahar Nagar, opp Shriyesh ho-society, near Nishant Bank, Akola 444001.</p>
                <p>Email: anshul.v.kherde&#64;gmail.com</p>
            </div>
        </div>
    </div>
  
    <div class="navbar-text">
        <br/><br/>
        <h2>Company</h2>
        <br/><br/><br/>
        
        <p><a href="#" style="color: white;">Home</a></p>
        <br/>
        <p><a href="#" style="color: white;">About Us</a></p>
        <br/>
        <p><a href="#" style="color: white;">Events</a></p>
        <br/>
        <p><a href="#" style="color: white;">Portfolios</a></p>
        <br/>
        <p><a href="#" style="color: white;">Contact Us</a></p>
  
    </div>
     
    
    <div class="location-section">
        
        <h2>Location</h2>
        <br/><br/>
     <a href="https://maps.app.goo.gl/hmgiHoXSy4oz2Ha98"><img src="assets/images/home-img/map.png" alt="Location Photo"></a>
    </div>
  </header>
  
  <!-- Rest of your webpage content goes here -->
  
  <!-- Copyright information -->
  <footer class="your-new-footer-class">
    &copy; 2023 Prestige Planner. All rights reserved.
  </footer>

</html>